/* Estilos para el componente Home */

/* Estilos de la fuente Dosis */
.dosis-font {
  font-family: "Dosis", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400; /* Puedes ajustar el peso según lo necesites */
  font-style: normal;
  align-items: center;
  justify-content: center;
  left: 30%;
}

/* Estilos para el contenedor principal */
.page {
  display: flex;
  flex-direction: column;
}

/* Estilos adicionales cuando el menú está abierto */
.page.menu-open {
  overflow-x: hidden; /* Deshabilitar desplazamiento horizontal cuando el menú está abierto */
}

/* Estilos para el encabezado */
.header {
  background-color: #333;
  color: white;
  padding: 20px;
  position: relative; /* Agregar posición relativa para alinear el botón de menú */
}

.header {
  background-color: #333;
  color: white;
  padding: 10px 20px; /* Reducir el espacio interno del encabezado */
  position: relative; /* Agregar posición relativa para alinear el botón de menú */
}

/* Estilos para el logo */
.logo-container {
  display: flex;
  align-items: center; /* Centrar verticalmente los elementos del contenedor del logo */
  padding-left: 5%;
}

.logo {
  width: 50px; /* Establecer un ancho más pequeño para la imagen del logo */
  height: auto; /* Permitir que la altura se ajuste automáticamente */
  margin-right: 10px; /* Agregar un pequeño espacio entre la imagen y el texto */
}

/* Estilos para el título */
.dosis-font {
  font-family: "Dosis", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400; /* Puedes ajustar el peso según lo necesites */
  font-style: normal;
  font-size: 2rem; /* Reducir el tamaño del texto del título */
  margin: 0 auto; /* Centra horizontalmente el contenido */
}
.dosis-font4 {
  font-family: "Dosis", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400; /* Puedes ajustar el peso según lo necesites */
  font-style: normal;
  font-size: 2rem; /* Reducir el tamaño del texto del título */
}

.dosis-font1-container {
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  padding-bottom: 15%;
}

.dosis-font1 {
  font-family: "Dosis", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500; /* Puedes ajustar el peso según lo necesites */
  font-style: normal;
  font-size: 1.5rem;
  background-color: rgba(255, 230, 0, 0.897);
  border-radius: 10px;
  padding: 10%;
  top: 15%;
}


.dosis-font2 {
  font-family: "Dosis", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500; /* Puedes ajustar el peso según lo necesites */
  font-style: normal;
  font-size: 1.5rem;
  background-color: rgba(0,0,0,0.5);
  border-radius: 10px;
  padding-top: 10%;
  padding-bottom: 10%;
}

/* Estilos para el contenido principal */
.main {
  display: flex;
  justify-content: center; /* Centrar horizontalmente los elementos */
  align-items: center; /* Centrar verticalmente los elementos */
  height: 100vh; /* Ajustar el alto del contenido principal */
  
}

.main.menu-open {
  margin-left: 235px; /* Desplazar la página hacia la derecha cuando el menú está abierto */
  
}

/* Estilos para el botón de menú */
.menu-button {
  cursor: pointer;
  position: absolute;
  top: 20px;
  left: 20px; /* Ajustar posición izquierda para el botón de menú */
  z-index: 999; /* Asegurarse de que el botón esté por encima de otros elementos */
}

.menu-icon {
  width: 20px;
  height: 3px;
  background-color: #fff; /* Cambiar color del icono a blanco */
}

.menu-icon.open {
  background-color: #000000; /* Cambiar el color del icono a negro cuando el menú está abierto */
}

.sidebar {
  width: 200px;
  background-color: #191818;
  padding: 20px;
  height: 100%;
  position: fixed; /* Cambiar a posición fija para mantener el menú en su lugar */
  top: 0; /* Alinear el menú en la parte superior */
  left: -280px;
  transition: left 0.3s ease, top 0.3s ease; /* Agregar transición para suavizar los cambios */
  z-index: 998;
  border-right: 18px ; /* Agregar borde solo en la parte izquierda */
  color: #fff;
}

.sidebar.open {
  left: 0;
}

.content {
  display: flex; /* Utiliza flexbox para alinear los elementos en el contenedor */
  justify-content: space-between; /* Distribuye los elementos a lo largo del eje principal */
  max-width: calc(1200px - 300px); /* Resta el ancho del menú desplegable */
  margin: 0 auto; /* Centra horizontalmente el contenido */
  padding: 0 20px; /* Agrega relleno a los lados para separarlo del borde de la ventana */
  font-family: "Dosis", sans-serif;
}

/* Estilos para el contenedor1 */
.contenedor1 {
  width: 60%;
  height: 30%;
  background-color:white;
  margin-left: 20px; /* Agrega un margen izquierdo para separar del título */
  margin-top: 4%;
  text-align: justify; /* Alinea el texto justificado */
  font-family: "Dosis", sans-serif;
  margin-top: 10%;
}

.contenedor2 {
  width: 60%;
  height: 30%;
  background-color:rgba(0,0,0,0.1);
  margin-left: 20px; /* Agrega un margen izquierdo para separar del título */
  margin-top: 4%;
  text-align: justify; /* Alinea el texto justificado */
  margin: 0 auto;
  padding: 3%;
  font-family: "Dosis", sans-serif;
}


.horarios {
  display: flex;
  flex-wrap: wrap;
  width: 92%;
  background-color: rgba(0,0,0,0.1);
  align-items: center;
  justify-content: center;
  margin: 0 auto; /* Centra horizontalmente el contenedor */
  padding-top: 5%;
  padding-bottom: 5%;
  border-radius: 12px;
}


.hora {
  width: calc(100% / 7); /* Divide el ancho en 7 partes iguales para los días de la semana */
  text-align: center;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.selected {
  background-color: yellow; /* Cambia el color de fondo a amarillo cuando esté seleccionado */
}

/* Estilos para el mensaje */
.message {
  background-color: #5bf415; /* Color de fondo */
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
}

.footer {
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 20px;
}

.contacto {
  display: flex;
  justify-content: space-between;
}

.redes-sociales a {
  color: white;
  text-decoration: none;
  margin-right: 10px;
}

.informacion {
  text-align: right;
}

.botton {
  display: block;
  height: 10%;
  padding: 10%;
  text-decoration: none;
  color: black;
  width: 100%;
  margin-left: -30%;
  padding-right: 18%;
  padding-left: 18%;
  transition: background-color 0.3s ease; 
  color: white;
}

.botton:hover {
  background-color: rgb(243, 224, 19);
}

.map-container {
  width: 80%;
  height: 300px; /* Establece la altura deseada para el mapa */
  margin-top: 20px; /* Ajusta el margen superior según sea necesario */
  border-radius: 10px;
  overflow: hidden; /* Oculta el desbordamiento del mapa */
  left: 10%;
  margin-bottom: 6%;
}
.espacio{
  margin-bottom: 5%;
}
.section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.section-container section {
  margin-top: 20px; /* Espacio superior para separar del encabezado */
}

.section-container img {
  max-width: 100%; /* Ajustar el tamaño máximo de la imagen para que se ajuste al contenedor */
  border-radius: 10px;
}

.text-center {
  text-align: center;
}

.menu-list {
  list-style-type: none; /* Quitar los puntos de lista */
}
